body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}
.top-container {
  position: relative;
  background-color: #c7f0ee;
  padding-top: 100px;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
}
.middle-container {
}
.bottom-container {
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}
.azure-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.wow-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

